<%@ include file="./include/include.jsp"%>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="fr" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<head>
<title>Erreur | Evisas - client</title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- CSS -->
<jsp:include page="./layout/styles.jsp"></jsp:include>
</head>

<body class="boxed-layout container">
	<div class="wrapper">

		<!-- HEADER -->
		<jsp:include page="./layout/header.jsp"></jsp:include>

	    <!--=== Content ===-->
	    <div class="container content">
	        <!-- Write Your HTML Codes Here -->
			<!-- SECTION Identification visa -->
               <div class="row margin-top-20 margin-bottom-60">
					<div class="col col-md-2"></div>
					<div class="col col-md-8">
						<h2> Oups !!!! Une erreur est survenue. <br> Merci de r&eacute;-essayer dans quelques instant.</h2>
						<a href="/">Retour &agrave; la page d'accueil.</a>
					</div>
					<div class="col col-md-2"></div>
               </div>
	    </div>
	    <!--=== End Content ===-->

		<!-- FOOTER -->
		<jsp:include page="./layout/footer.jsp"></jsp:include>

	</div>
	<!-- SCRIPTS -->
	<jsp:include page="./layout/scripts.jsp"></jsp:include>
</body>
</html>