<%@ include file="./include/include.jsp" %>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="fr" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->
<!--[if !IE]><!--> 
<html lang="<c:out value="{locale}" />"> 
<!--<![endif]-->  
	<head>
	    <title>Liste des formulaires | Demande de visas</title>
	    <!-- Meta -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<!-- CSS -->
		<jsp:include page="./layout/styles.jsp"></jsp:include>
	</head>	
	
	<body class="boxed-layout container">
		<div class="wrapper">
			<!-- HEADER -->	
			<jsp:include page="./layout/header.jsp">
				<jsp:param name="menuActif" value="1" />
			</jsp:include>

		    <!--=== Content ===-->
		    <div class="container content">
		        <!-- Write Your HTML Codes Here -->
		        <h1>Liste des formulaires disponible en t&eacute;l&eacute;chargement </h1>
		        
                <!-- Bordered Funny Boxes -->
                <div class="funny-boxes funny-boxes-left-green">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="/resources/formulaires/fr/FORMULAIRE-VISA-BENIN.pdf" target="_blank">Formulaire de demande visa</a></h2>
                            <p>A remplir pour la demande de visa.</p>
                        </div>
                    </div>                            
                </div>
                <div class="funny-boxes funny-boxes-left-orange">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="/resources/formulaires/fr/Guide_Tarifaire_Visas_2014.pdf" target="_blank">Grille tarifaire</a></h2>
                            <p>Le co&ucirc;ut selon le type de visa.</p>
                        </div>
                    </div>                            
                </div>
                <div class="funny-boxes funny-boxes-left-green">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="/resources/formulaires/fr/piece_a_fournir.pdf" target="_blank">Liste des pi&egrave;ces &agrave; fournir</a></h2>
                            <p>Liste des pi&egrave;ces &agrave; fournir selon le type de visa demand&eacute;.</p>
                        </div>
                    </div>                            
                </div>
                <!-- End Bordered Funny Boxes -->
		    
		    
		    </div>
		    <!--=== End Content ===-->

			<!-- FOOTER -->
			<jsp:include page="./layout/footer.jsp"></jsp:include>
		</div>
		<!-- SCRIPTS -->
		<jsp:include page="./layout/scripts.jsp"></jsp:include>
	</body>
</html>